/* Light mode */
@media (prefers-color-scheme:light){
    :root{
        --body-bg: #FFFFFF;
        --body-color: #000000;
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark){
    :root {
        --body-bg: #000000;
        --body-bg: #FFFFFF;
    }
}